@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Project1>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<!DOCTYPE HTML>
<div class="container">

			<div class="row section" style="justify-content:space-around;">
				<div class="col-md-12">
					<h2 style="text-align:center;">Recent Projects</h2>
				</div>

				<!-- Blog Post query goes here. -->
				<div class="col-md-5">
					<div class="box-blog" style="height:400px">
						<a href="#"><div class="blog-promoImage" style="background-image:url('/images/Personal_site.png')"></div></a>
						<h5>@Model.Value("blog1Title")</h5>
						<p>@Model.Value("blog1ShortText")</p>
					</div>
					<a href="Blogpost.html" class="btn btn-inverted">@Model.Value("blog1ButtonText")</a>
				</div>
				<div class="col-md-5">
					<div class="box-blog" style="height:400px">
						<a href="#"><div class="blog-promoImage" style="background-image:url('/images/Eilidhs_Trust_Homepage.png')"></div></a>
						<h5>@Model.Value("blog2Title")</h5>
						<p>@Model.Value("blog2ShortText")</p>
					</div>
					<a href="#" class="btn btn-inverted">@Model.Value("blog2ButtonText")</a>
				</div>
				<div class="col-md-5">
					<div class="box-blog" style="height:400px">
						<a href="#"><div class="blog-promoImage" style="background-image:url('/images/MovieMatch_homepage.png')"></div></a>
						<h5>@Model.Value("blog3Title")</h5>
						<p>@Model.Value("blog3ShortText")</p>
					</div>
					<a href="#" class="btn btn-inverted blog-box-btn">@Model.Value("blog3ButtonText")</a>
				</div>
					<div class="col-md-5">
					<div class="box-blog" style="height:400px">
						<a href="#"><div class="blog-promoImage" style="background-image:url('/images/hats.png')"></div></a>
						<h5>@Model.Value("blog4Title")</h5>
						<p>@Model.Value("blog4ShortText")</p>
					</div>
					<a href="#" class="btn btn-inverted blog-box-btn">@Model.Value("blog4ButtonText")</a>
				</div>
			</div>

		</div>